$card-padding: 1rem;

.card {
  &-marker {
    width: max-content;
    color: white;
    position: absolute;
    top: 0;
    border-radius: 0.25rem;
    padding: 0.3rem;
  }

  margin-right: $card-padding;
  margin-bottom: $card-padding;

  &-container {
    max-width: 250px;
    @include card-shadow;
    padding: $card-padding;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &-image {
    padding-top: Calc(9/16 * 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -$card-padding;
    margin-left: -$card-padding;
    margin-right: -$card-padding;
    margin-bottom: $card-padding;
    width: calc(100% + 2 * #{$card-padding});
  }

  &-title {
    font-size: $font-size * 1.25;
    color: $dark;
    font-weight: bold;
    padding-right: $card-padding * 2;
    padding-bottom: $card-padding;
    line-height: $line-height * 1.25;
  }

  &-content {
    min-height: 110px;
    display: flex;
    flex-direction: column;

    &-description {
      flex: 1;
    }
  }

  &-actions {
    display: flex;
    padding-top: $card-padding;
    margin-top: $card-padding;
    border-top: solid 1px $secondary;
  }
}
