// Some styles come from globalStyles.css

a {
  color: $dark;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background: $almostWhite;
}

.main-content {
  max-width: $max-width;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.fa {
  // because fa uses weight bold
  & > .label {
    font-weight: normal;
  }
}

.avatar-container {
  background-color: $secondary;
  width: 30px;
  height: 30px;
  border: solid 1px var(--white);
  border-radius: 50%;

  // stack circles
  &.grouped {
    margin-right: -1rem;
  }
}