<!--@formatter:off-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome to MLReef</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container my-5">
    <h2 class="mb-5">
        <th th:text="${SUBJECT}">Welcome to MLReef</th>
    </h2>
    <div class="row">
        Hello <th:block th:text="${USER_NAME}">customer</th:block>
    </div>

    <div class="row"></div>

    <div class="row">
        Happy to have you on board!
    </div>

    <div class="row"></div>

    <div class="row">
        <b>MLReef is your platform for the entire Machine Learning life cycle.</b>
    </div>

    <div class="row"></div>

    <ul dir="auto">
        <li>Explore other projects in the project library: <a
            href="https://mlreef.com/explore/mlprojects" rel="nofollow noreferrer noopener"
            target="_blank">https://mlreef.com/explore/mlprojects</a></li>
        <li>Sign up for our community discord channel: <a href="https://discord.gg/draNC396CM"
                                                          rel="nofollow noreferrer noopener"
                                                          target="_blank">https://discord.gg/draNC396CM</a>
        </li>
        <li>Read the MLReef docs: <a href="https://doc.mlreef.com/"
                                     rel="nofollow noreferrer noopener" target="_blank">https://doc.mlreef.com/</a>
        </li>
        <li>Reach out for any other inquiry at: <a href="mailto:hello@mlreef.com"
                                                   rel="nofollow noreferrer noopener"
                                                   target="_blank">hello@mlreef.com</a></li>
    </ul>

    <div class="row"></div>

    <div class="row">
        <i>Please note, that MLReef is currently in beta, which means that everything is subject to
            change. You are an adventurer on new waters where things might get lost, forever!</i>
    </div>

    <div class="row"></div>
    <div class="row">
        Your MLReef team!
    </div>
</div>

</body>
</html>
<!--@formatter:on-->