#job-information-container {
  width: 100%;
  margin-left: 1.5em;
  font-size: 1.1em;

  .flexible-div-basic-info-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: max-content;
  
    .job-table {
      display: table;
      width: 100%;
    
      &-header {
        display: table-row;
      };
    
      &-content {
        display: table-cell;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
      };
    };
  };

  #top-job-log-div {
    padding: 0.5em;
    background-color: var(--light);
    border: 1px solid var(--almostWhite)
  }

  .line-span {
    margin-left: 0.7em;
    white-space: break-spaces;
  }

  #basic-information-container {
    border-bottom: 1px solid var(--almostWhite);
  }

  #number-and-time-ago-cont {
    display: flex;
    align-items: center;
    padding: 0.5em 0em
  }

  
  .log-line {
    display: flex;
    color: var(--white);
    margin: 0 0 0 2em;
    padding: 0.35em;
    font-size: 0.8rem;
  }

  .number-span-container {
    display: 'flex';
    justify-content: 'right'; 
    width: '1em';
    margin-right: '0.5em';
  }
}
