.clone-box {
  width: 280px;
  height: auto;
  position: absolute;
  background: #fff;
  box-shadow: 0 2px 5px #e5e5e5;
  top: 100%;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.file-icon, .folder-icon, .clone-icon {
  padding: 0.5em;
  border-left: 1px solid var(--secondary);
  width: 2em;
  background-color: #ffffff;
}

.clone-icon {
  vertical-align: middle;
  width: 8%;
  cursor: pointer;
  background-color: var(--secondary);
}

.ssh-http-link {
  display: table-cell;
  position: relative;
  width: 100%;
  padding-right: 0 !important;
  margin-right: 0.5rem;
}

.link-box {
  text-align: initial;
  margin-top: 1em
}

.clone-dropdown {
  position: relative;
}

.clone-link {
  display: flex;
  margin: 1em 1em;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  height: 30px;

  & > input {
    border: none !important;
  }
}

.clone-link span {
  padding: 0 5em;
  margin: 0.5em 0 0 0;
}
