# Ignore everything
*

#then include what we actually want
# ! is for "not ignore"
!backend
/backend/build
/backend/mlreef-domain/build
/backend/mlreef-rest/build
/backend/mlreef/system-test

!epf/Dockerfile
!epf/src

!nautilus
/nautilus/docker-compose.yml

!web
/web/.storybook
/web/cypess
/web/node_modules
