#ml-project, #model, #data-operation, #data-visualization {
  max-width: unset;
}

.noelement-found-div {
  width: 100%;
  min-height: 78px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: var(--secondary);
  }
}
