// for mobile devices (rarely used)
$bp-sm: 576px;
// in range of tablets
$bp-md: 900px;      // $bp-md is the main breakpoint
// range from laptops to small desktop monitors
$bp-lg: 1364px;
// for wide desktop monitors
