


$dark: #1D2B40;
$light: #F6F6F6;
$primary: #2dbe91;
$secondary: #b2b2b2;
$success: #2dbe91;
$danger: #f5544d;
$warning: #ebba45;
$info: #32afc3;

$border-radius: 5px;
$border-width: 2px;

$color-modifier: 10%;
$sm: 800px;


$container-width: 1040px;
$font-size: 14px;
$font-family: "Roboto", sans-serif;

$padding: 1.25rem;
// $btn-padding: $padding;
// $btn-padding-v: 0.5 * $btn-padding;
// $btn-padding-h: 2 * $btn-padding;
$btn-width: 12rem;
// $btn-padding-lg: $btn-padding * $size-factor-lg !default;
// $btn-padding-sm: $btn-padding * $size-factor-sm !default;
// $btn-padding-v-lg: 0.5 * $btn-padding * $size-factor-lg !default;
// $btn-padding-h-lg: 2 * $btn-padding * $size-factor-lg !default;
// $btn-padding-v-sm: 0.5 * $btn-padding * $size-factor-sm !default;
// $btn-padding-h-sm: 2 * $btn-padding * $size-factor-sm !default;

// $btn-transition-time: 0.2s !default;
