// This is the main theme
@import url('https://use.fontawesome.com/releases/v5.12.0/css/all.css');

@import 'functions';
@import 'variables';
@import 'initials';
@import 'reset';
@import 'modules';

.demo {
  &-buttons {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-right: 1rem;
      margin-bottom: 1rem;
      max-width: $btn-width;
      text-align: center;
    }
  }
}
