@import '../../../styles/breakpoints';

$Algorithm: #d2519d;
$visualizations: #735da8;

.data-card {
  border: 1px solid var(--almostWhite);
  margin: 0% 0% 1% 0.5%;
  border-radius: 0.5vw;
  height: 100%;

  @media (max-width: $bp-md) {
    height: auto;
  }

  &-rows {
    padding: 1rem;
  }

  > .model {
    background-color: $Algorithm !important;
  }

  > .visualization {
    background-color: $visualizations !important;
  }

  .title {
    border-radius : inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    padding: 5px;
    border: 1px solid var(--almostWhite);
    background-color: var(--dark);
    color: var(--white);
  }
  
  div {
    p {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
