#login-container {
    margin: 3.5% 35% 0% 35%;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

.paragraph{
    color: #404040;
    font-size: 1.1em;
}

.border-div {
    border: 2px solid #e5e5e5;
    border-radius: 0.3vw;
}

#icon-div{
    display: flex;
    align-items: center;
}

#icon-div img {
    max-width: 100px;
    width: 4vw;
    margin-left: 48%;
    margin-bottom: 4%;
}

.login-form .title {
    background-color: #1C2B40;
    color: white;
    font-size: 1.3em;
    text-align: center;
    border-radius: 0.3vw 0.3vw 0 0;
    padding: 3% 0% 3% 0%;
}

.input-container {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 4%;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.input-container > input {
    padding: 1%;
    border-radius: 0.3vw;
    border: 1px solid #B2B2B2; 
    width: 90%;
    height: 2em;
    font-size: 1em;
}

.input-container > input:focus {
    border: 1px solid #32AFC3;
}

.input-container button {
    margin-top: 2%;
    background-color: #2DB391;
    color: white;
    border: 1px solid #2DB391;
    border-radius: 0.3vw;
    height: 2.5em;
    padding: 1% 18% 3% 18%;
    font-size: 1em;

    cursor: pointer;
}

#sign-in-btn {
    align-items: center !important;
}

.invisible {
    display: none;
}

.error {
    margin: 2% 0% 1% 0%;
    background-color: #F5544D;
    color: white;
    border-radius: 0.3vw;
    font-size: 1.1em;
    padding: 1% 2% 1% 4%
}

#create-account-div {
    margin-top: 2%;
    background-color: #F6F6F6;
}

#create-account-div p{
    margin-left: 4%;
    text-align: center;
    color: #1D2B40;
}
 
.error div, .error p {
    display: inline-block;
}

.error p{
    padding-left: 7em
}

.error div{
    margin-left: 40%;
}

.error div button {
    background-color: white;
    width: 5em;
    border-radius: 0.3vw;
    font-size: 1em;
    border: 1px solid black;
    font-weight: 600;
    cursor: pointer;
}