/* ------------- Card content ---------------*/

.pipeline-card > .card-content > .summary-data {
    color: #1c2b40;
    display: flex;
    border-top: 2px solid #e5e5e5;
    width: 100%;
}

.pipeline-card > .card-content > .summary-data > .dull {
    color: #949494
}

.pipeline-card > .card-content > .summary-data > .project-desc-experiment {
    padding: 0% 1% 0% 1%;
    margin-left: 1%;
    width: 20%;
}

.pipeline-card > .card-content > .summary-data > .buttons-div {
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0% 1% 0% 1%;
    margin-top: 15px;
}

.pipeline-card > .card-content > .summary-data > .buttons-div button {
    cursor: pointer;
    border-radius: 0.3vw;
}

.pipeline-card > .card-content > .summary-data > .buttons-div button.dangerous-red {
    border-radius: 0.3vw;
    border-width: 1.7px;
    width: 35px;
}

.card-content > .summary-data > .buttons-div > button{
    margin-right: 5px !important;
}

/* ----------------------- Chart container ----------------------- */

.card-content > .data-summary {
    display: flex;
}

.card-content > .data-summary > .chart-container {
    width: 70%;
}

.card-content > .data-summary > .content {
    margin-left: 3%;
}

.card-content > .data-summary > .content > p { 
    margin: 4px;
}

/* Instance  dropdown*/

.save-instance {
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
    position: absolute;
    display: block !important;
    width: 300px;
    height: auto;
    background: #fff;
    top: 50%;
    right: 0.5em;
    z-index: 1;
    border-radius: 4px;
}

.save-instance .search-branch > div:hover{
    background-color: #ececec;
    cursor: pointer;
}
