.project-desc-experiment {
    padding: 0% 1% 0% 1%;
    margin-left: 1%;
    width: 35%;
}

#empty-table {
  padding: 2rem 0rem;
  border: 1px solid var(--lessWhite);

  p {
    text-align: center;
    color: var(--lessWhite);
  }
}