.commit-path {
  display: flex;
  margin: 0% auto 0% auto;
  margin-top: 15px;
  margin-bottom: 8px;
  max-width: 1024px;
  align-items: center;
  position: relative;

  input{
    margin: 0 0 0.5rem 1rem;
    padding: 0.5em 3em;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
  }
}
