/* ---------------------- arrow button styles ---------------------- */


/*Styling Selectbox*/
.buttons-div > .dropdown {
    background-color: #fff;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    text-align: left;
    display: unset !important;
  }
  
  .dropdown .select {
      cursor: pointer;
      display: flex;
  }
  
  .dropdown > .select > img{
      width: 15px;
  }
  
  .dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  
  .dropdown:active {
      background-color: #f8f8f8
  }
  
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 5px 5px 0 0;
      background-color: #f8f8f8
  }
  
  .dropdown.active .select > img {
      transform: rotate(-180deg);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
  }
  
  .buttons-div > button {
      height: 2.5em !important;
  }