/* ---------------------- arrow button styles ---------------------- */

  .dropdown-btn-container-div {
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    padding: 1px;

    p {
      margin: 0;
    }
  }

  .background-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }