/* ----------------------Classes for everything ---------------------*/

.round-border-button {
    border-radius: 0.3vw;
}

.shadowed-element{
  box-shadow: 0px 3px 6px var(--lessWhite);
}


/* ----------------------------------------------------------------*/

.pipe-line-execution-container{
    margin: 15px auto 0 auto;
    justify-content: space-between;
    max-width: 1024px;
}

.pipe-line-execution{
    width: 65%;
    min-height: 700px;
    border-radius: 0.3vw;
}

.pipe-line-execution.tasks-list{
    width: 34% !important;
    margin-left: 8px;
    overflow: hidden;
}

/* ----------------------- TASK LIST DIV ------------------------------*/

.pipe-line-execution.tasks-list > .content{
    padding: 1%;
    margin-top: 8px;
}

.data-operations-select {
    margin-top: 2%;
    padding: 1% 15% 1% 0.5%;
    height: 2.3em;

}

#data-operations-list {
  height: 100%;
  max-height: 80vh;
  overflow-y: scroll;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e5e5e5;
  margin-top: 8px;
}

/* ---------------data-operations-item-header----------- */

.data-operations-item {
  border: 1px solid #e5e5e5;
  background-color: white;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 2% 2% 2% 3%;
  margin-top: 2%;
  cursor: grab;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.data-operations-item:hover{
    border: 1px solid #32AFC3;
}


/* ------------------------Dropdown zone--------------------------- */

.drop-zone {
  min-height: 200px;
  align-items: center;
  border-radius: 0.3rem;

  &-ico {
    margin-left: 3rem;    
    font-size: xxx-large;
  }

  &-operation-counter {
    margin-left: 10px;
    font-weight: 600;
  }

  &-instruction {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center,
  }
}

.drop-zone.moving {
  cursor: grab !important;
  transition: all 0.2s ease;
  box-shadow: -2px 0px 11px var(--info);
}

/* ----------------------------------------------------------------*/

/* ---------------------- Data operations styles --------------------- */

.processor-title {
    width: 90%;
}

.data-oper-options {
  align-items: center;
  width: max-content;
  height: min-content;

  div {
    border-radius: inherit !important;

    img {
      width: 1.4em;
    }
    p {
      padding: 1%;
      margin: 0;
    }
  }
}


/* ------------------------ data-operation-form -----------------------*/

.advanced-opt-drop-down {
    display: flex;
}

.advanced-opt-drop-down > .drop-down {
    display: flex;
    align-items: center;
    width: 50%;
}

.advanced-opts-div > div {
    margin: 1% 0 0 0%;
}

.advanced-opts-div > div > p {
    margin: 1% 2% 0 0;
}
