/* ------------- Card content ---------------*/

.card-content > .summary-data > .buttons-div > button{
    margin-right: 5px !important;
    margin-top: 28px;
}

/* ----------------------- Chart container ----------------------- */

.card-content > .data-summary {
    display: flex;
}

.card-content > .data-summary > .chart-container {
    width: 70%;
}

.card-content > .data-summary > .content {
    margin-left: 3%;
}

.card-content > .data-summary > .content > p { 
    margin: 4px;
}

#data-ins-summary-data {
  padding: 1rem;
}
