.t-bold {
  font-weight: bold !important;
}

.image-diff-section {
  & .image-display {
    overflow-y: hidden;

    &.collapsed {
      height: 1px;
    }
  }

  & .image-dimensions {
    display: flex;
    justify-content: space-around;
    // margin-top: 0.5rem;
  }

  .solid-border {
    border: 1px solid;
  }

  .image-dimensions {
    text-align: center;
  }

  .basic-information-image {
    flex: 1;
    padding: 1em;
  }

  #image-div-section-container {
    margin-top: 2em;
  }

  .image-container {
    margin-right: 1em;
  }
}

.commit-per-date{
  border: 1px solid #adadad;
  border-radius: 0.3vw;
  margin-bottom: 8px;
}

.commit-per-date:last-child{
  border-bottom: 1px solid #adadad;
  margin-bottom: 2em;
}

.commit-header{
  margin-top: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  display: flex;
  border-radius: 0.3vw 0.3vw 0 0;

  p {
    margin-left: 1em;
    color: #1c2b40;
    font-size: 14px;
    font-weight: 600;
  }
}