.solid-border {
  border: 1px solid;
}

.image-dimensions {
  text-align: center;
}

.basic-information-image {
  flex: 1;
  padding: 1em;
}

#image-div-section-container {
  margin-top: 2em;
}

.image-container {
  margin-right: 1em;
}
