.navbar {
    display: flex;
    align-items: center;
    background-color: var(--dark);
}

.logo {
    width: 8em;
}

  .profile-pic-circle {
    height: 2em;
    width: 2em;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
  }
