.navbar {
  display: flex;
  align-items: center;
  background-color: var(--dark);
  min-height: 3.2rem;
}

.logo {
  width: 8em;
}

.navbar-label {
  font-weight: 500;
  color: #fff;
  margin: 0px 10px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  img {
    height: 11px;
    margin-right: 5px;
  }
  label {
    cursor: pointer;
  }
  &:hover {
    text-decoration: none;
  }
}

.active {
  background-color: #fff;
  color: #000000;
}

.profile-pic-circle {
  height: 2em;
  width: 2em;
  background-color: #fff;
  display: flex;
  border-radius: 50%;
}

.sign-box {
  box-shadow: 0 0 5px #c5c5c5;
  border-radius: 0.3vw;
  position: absolute;
  width: min-content;
  min-width: 180px;
  height: auto;
  background: #fff;

  & p {
    padding: 0.75em;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    transition: all 0.4s ease;
  }

  & div {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin: 0.75em;
  }

  & p:hover {
    background: var(--secondary);
    cursor: pointer;
  }
}

.project-box {
  box-shadow: 0 2px 4px var(--secondary) /* rgb(0, 0, 0, 0.1) */;
  padding-top: 0.5em;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  background: #fff;
  left: 0;
  border-radius: 3px;
  top: 120%;

  & a {
    padding: 0.75em;
    font-weight: 200;
    transition: all 0.4s ease;
  }

  & a:hover {
    background: #c5c5c5;
    cursor: pointer;
  }
}

.user-projects {
  display: flex;
  flex-direction: column;
}

.project-search {
  border-left: 1px solid #dddddd;
  padding: 0.5em;
  width: 100%;
  display: block;
}

/* -------------------------- documentation dropdown -------------------------- */

.header-help {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0.3vw;
  cursor: pointer;

  &:hover .sign-box {
    visibility: visible; /* show it on hover */
    opacity: 1;
    transition-delay: 0.09s;
  }
}

.help-box {
  box-shadow: 0 0 5px var(--secondary);
  border-radius: 0.3vw;
  position: absolute;
  width: max-content;
  background: #fff;
  display: flex;
  flex-direction: column;

  & a,
  button {
    padding: 1rem 3.5rem 1rem 1rem;
    text-align: left;
    transition: all 0.4s ease;
    background-color: transparent;

    &:hover {
      background: var(--secondary);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
