@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 

body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #1C2B40;
    margin: 0px auto;
    height: 80px;
}

.logo {
    width: 180px;
    margin-left: 40px;
}

.projects-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 80px;
}

.projects-dropdown p{
    font-size: 30px;
    margin: 0px;
}

.projects-dropdown img {
    margin-left: 10px;
}


.profile-options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 142px;
}

.profile-options .dropdown-white {
    margin-right: 20px;
}

.profile-pic-circle {
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
}

img.dropdown-white {
    width: 40px;
}

.project-container {
    height: 236px;
    background-color: #E5E5E5;
}

.project-details {
    margin: auto;
    width: 1364px;
    /* border: 1px solid red; */
}

.project-nav {
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
}


.project-nav p {
    margin: 15px 10px 0px 0px;
    color: #1C2B40;
    font-size: 16px;   
}

.project-info {
    margin-top: 20px;
    display: flex;
    height: 56px;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.project-pic {
    height: 56px;
    width: 56px;
    background-color: #fff;
    border: 2px solid #1C2B40;
    border-radius: 12px;
    display: flex;
}

.project-id {
    display: flex;
}

.project-name p {
    margin: 0;
}

.project-name {
    margin-left: 20px;
}

#projectName {
    font-size: 30px;
    color: #1C2B40;
    font-weight: 600;
}

#projectId {
    font-size: 16px;
    color: #909090;
    margin-top: 3px;
}

.project-options {   
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
}


.options {
    display: flex;
    flex-direction: row;
    width: 200px;
    /* background-color: #fff; */
    border-radius: 8px;
    margin-left: 10px;
}

.option-name {
    display: flex;
    flex-direction: row;
    width: 142px;
    background-color: #fff;
    border-radius: 8px 0px 0px 8px;
    /* border: 4px solid yellow; */
}


.option-name p {
    margin-left: 10px;
    color: #1C2B40;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
}

#option-image {
    width: 36px;
    margin-left: 10px;

}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 0px 8px 8px 0px;
    border-left: 2px solid #e5e5e5;
    /* border: 4px solid pink; */

}

.counter p {
    color: #1C2B40;
    font-size: 24px;
    font-weight: 600;
    margin: 0px 21px;
}

.project-desc {
    color: #1C2B40;
    font-size: 16px;
    margin-top: 22px;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.feature {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    padding: 5px 45px;
    border-radius: 8px 8px 0px 0px;
    /* background-color: #fff; */
    /* border: 1px solid purple; */
}

.feature p{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #1C2B40;
}


.repo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #32AFC3;
    margin: 30px auto 0 auto;
    width: 1364px;
    border-radius: 8px;
}

.repo-stat {
    display: flex;
    margin: 0px 40px;
}

.repo-stat p {
    font-size: 20px;
    color: #fff;
}

p.stat-no {
    font-weight: 700;
}

.stat-type {
    margin-left: 10px;
}

.commit-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto 0;
    width: 1364px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #707070;
}

.commit-id {
    display: flex;
    width: 252px;
    height: 48px;
    margin-right: 40px;
    justify-content: center;
    background-color: #E5E5E5;
    border-radius: 12px;
    color: #404040;
    border: 1px solid #B2B2B2;
}

.commit-id p {
    font-size: 20px;
    /* font-weight: 600; */
    margin: 0;
    align-self: center;
}

.commit-details {
    display: flex;
    height: 56px;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.commit-profile-pic {
    height: 54px;
    width: 54px;
    margin-left: 30px;
    background-color: #fff;
    border: 2px solid #1C2B40;
    border-radius: 50%;
    display: flex;
}


.commit-name p {
    margin: 0;
    align-self: center;
}

.commit-name {
    margin-left: 20px;
    align-self: center;
}

#commitName {
    font-size: 20px;
    color: #1C2B40;
}

#commitDate {
    font-size: 12px;
    color: #1C2B40;
    margin-top: 10px;
}


.repo-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0;
    width: 1364px;
    height: 80px;
    border-radius: 8px;
    background-color: #fff;
    /* border: 1px solid #32AFC3; */
}

.leftside-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
}

.leftside-feature, .rightside-feature {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 48px;
    padding: 0px 15px;
    border-radius: 8px;
    border: 2px solid #1D2B40;
}

.leftside-feature p, .rightside-feature p{
    margin: 0px;
    font-size: 20px;
}

#leftfeature-image {
    width: 20px;
    margin-left: 8px;
}

.leftside-feature #plus {
    width: 40px;
}


.rightside-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;
}

.rightside-feature {
    padding: 0px 100px;
    border: 1px solid #b2b2b2;
}

.rightside-feature p {
    color: #B2B2B2;
}

.rightside-features img {
    width: 20px;
}

.commit-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    width: 1364px;
    height: 48px;
    border-radius: 8px 8px 0px 0px;
    background-color: #E5E5E5;
    border: 1px solid #707070;
}

#commitStatus {
    font-size: 20px;
    color: #1D2B40;
    margin:0 20px;
}


.create-pr {
    display: flex;
    align-items: center;
    margin-right: 40px;
    height: 48px;
    padding: 0px 30px;
    border-radius: 12px;
    border: 1px solid #1C2B40;
    background-color: #FFFFFF;
}

.create-pr p {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
}


