#left-div > .input-component-container > div > input {
    padding: 0.5em 2em 0.7em 1.5em;
    width: 130%;
    margin-left: 4%;
}

#left-div > .reference > button{
    padding: 0.5em 2em 2em 2em;
}

#left-div > .reference > button > .select >img{
    margin: 4px 0 auto auto;
    height: unset;
}

#left-div > .reference > button > .select p{
    margin: 16px 4px 0 0;
}

.generic-modal > .modal-content > #buttons > div > button {
    padding: 0.5em 2em 2em 2em;
    margin-right: 2%;
}

.generic-modal > .modal-content > #buttons > div > button > p {
    margin-top: 0;
    width: max-content;
}

.arrow-button > .select {
    height: unset;
    margin-top: unset;
}

.generic-modal > .modal-content > #buttons {
    display: flex;
}

.generic-modal > .modal-content > #buttons > #right-div, #left-div {
    display: inherit;
    width: 50%;
}

.generic-modal > .modal-content > #buttons > #right-div, #left-div{
    margin-left: 4%;
}

.generic-modal > .modal-content > #buttons > #right-div {
    margin-right: 3%;
    flex-direction: row-reverse;
}

.select-data-pipeline-modal > .modal-content > #buttons > #right-div > .light-green-button{
    border-radius: 0.3vw;
}
/* ------------- table styles ----------------*/

.modal-content > #table-container {
    margin-left: 4%;
    width: 92%;
    overflow-y: scroll;
}

.modal-content > #table-container > table { 
    height: 100%;
}