.m-breadcrumb {
  padding: 1rem 0;
  color: var(--dark);

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;

    &-item {
      &:not(:last-child) {
        &::after {
          content: ">";
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

      &-link {

      }

      &-placeholder {

      }
    }
  }
}
