/* ------------ CSS for project page ----------- */

.project-content {
    max-width: 1024px;
    /* min-width: 786px; */
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    margin: 0 auto;
}

.project-content-loader {
  margin: auto;
  text-align: center;
}

.new-project {
    padding: 1rem 0;
    display: flex;
  }

.project-content > hr {
    margin-top: 2em;
}

.project-list {
    display: flex;
    flex: 1;
}

.project-tab {
    cursor: pointer;
    display: flex;
    transition: border-bottom 0.1s;
}

.project-border {
    font-weight: bold;
    border-bottom: 2px solid #1c2b40;
}

.project-tab > p {
    color: #1c2b40;
}

#count {
    background-color: #16adce57;
    margin-left: 4px;
    min-width: 10px;
    max-width: max-content;
    min-height: 1.3em;
    border-radius: 2px;
}

#filter {
    padding: 0.3em;
    border-radius: .3vw;
    border: 1px solid #b2b2b2;
    width: 95%;
    height: 2em;
    font-size: 1em;
}

#filter:focus {
    padding: 0.3em;
    border-radius: .3vw;
    border: 1px solid #32afc3;
    color: #1D2B40;
    width: 95%;
    height: 2em;
    font-size: 1em;
}

#project-display {
    padding-top: 30px;
    vertical-align: 50%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

#project-display > div {
    display: flex;
}

#project-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 0.3vw;
    margin-right: 12px;
}
#project-descriptors {
    display: block;
    margin-left: 1em;
    flex: 1 1 auto;
    margin: 0px;
    margin-right: 50px;
}

.project-dashboard {
    display: flex;
    padding-top: 20px !important;
}

.project-list > div {
    margin-right: 50px;
}

#pro-info {
    padding-right: 1em;
    display: flex;
}

#pro-info > div {
  margin: auto 1em auto 0;
}
