/* ---------------- main-content-div ---------------- */

.m-project-classification {
  display: flex;
  margin: 1.5rem 1.5rem 0 0;

  #cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4 1;
    min-width: 768px;
    align-items: flex-start;
  }

  #side-filters {
    flex: 1;
    #input-div {
      border-bottom: 1px solid var(--secondary);
      p {
        color: var(--secondary);
      }
    }
  }
}

/* ---------------- top buttons section ---------------- */

#buttons-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  
  #filter-div {
    flex: 4;
    min-width: 768px;
    button {
      margin-right: 1rem;
    }
  }
  
  #new-element-container {
    flex: 1.1;
  }
}

/* ---------------- data types deploy btn ---------------- */

#data-types-deploy-btn {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1025px) {
  #cards-section, #filter-div {
    max-height: unset !important;
    min-width: unset !important;
    flex: unset;
  }
}

@media (max-width: 680px) {
  #filter-div {
    display: flex;
    flex-direction: column;
    button {
      padding: 0.500rem 1.25rem;
      width: max-content;
      margin-top: 0.5rem;
    }
  }

  #new-element-container {
    a {
      padding: 0.500rem 1.25rem;
    }
  }
}