@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
    font-family: 'mlreef';
    src: url(/fonts/mlreef-icons.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class*=" m-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mlreef' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
