.files-selector {
  &-image-container {
    display: flex;
    justify-content: center;
    img {
      height: 150px;
    }
  }
 
  .data-button-container{
    justify-content: center;
  }

  .data-button-container div {
    border: 2px solid var(--lessWhite);
    color: var(--lessWhite);
    width: max-content;
    padding: 0.5% 4% 0.5% 4%;
    border-radius: 0.3vw;
  }

  &-instruction {
    padding: 0 6rem;
    p {
      text-align: center;
    }
  }

  &-data {
    &-button-select {
      color: var(--info)
    }
  }
}