.m-input_container {
  display: flex;
  flex-direction: column;
}

.m-input_container.m-error input {
  border-color: var(--danger) !important;
}

.m-input_container.m-success input {
  border-color: #2db391 !important;
}

.m-input label {
  font-size: 1rem;
  line-height: 1.21rem;
  margin-bottom: 0.35rem;
}

.m-input_input {
  box-sizing: border-box;
  width: 100%;
  border: solid 1px var(--secondary) !important;
  border-radius: 8px !important;
  padding: 0.46rem 0.5rem !important;
  font-size: 1.21rem !important;
  line-height: 1.25 !important;
}

.m-input_input.full {
  border-color: #32afc3 !important;
}

.m-input_footer {
  min-height: 1.2rem;
}

.m-input_footer .m-error {
  font-size: 1rem;
  margin-top: 0.38rem;
  color: var(--danger);
}

.m-input_footer .m-success {
  font-size: 1rem;
  margin-top: 0.38rem;
  color: #2db391;
}

.m-input_footer .m-info {
  font-size: 1rem;
  margin-top: 0.38rem;
  color: var(--secondary);
}
