.m-branch-selector {
  .branches {
    display: block;
    margin: "1em";
  }
  
  .branches ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
  }
  
  .branches ul li:hover {
    cursor: pointer;
    background: var(--almostWhite);
  }
  
  .branches .branch-header {
    color: #707070;
    line-height: 16px;
    padding: 8px 0;
    margin: 0;
  }  
}
