/* Main container styles which give same sizes to all views in project*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

a {
  color: #1c2b40;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-content {
   max-width: 1024px;
   align-items: center;
   margin: 0 auto;
   padding: 0 1rem;
 }

/*------------------- Colors --------------------*/


.light-green-background, .light-green-button {
   background-color: #2db391;
   border-radius: 0.3vw;
}

/*------------------- ----- --------------------*/
.light-green-button {
   color: white;
   border: 1px solid #2db391;
}

.grey-border-white-background {
   border: 2px solid #e1e1e1;
   background-color: white;
   color: #e1e1e1;
}

.blue-border-dark-blue-letter {
   border: 1px solid #32AFC3;
   background-color: white;
   color: #1c2b40;
}

.white-button {
   color: #1c2b40;
   border: 1px solid #1c2b40;
   border-radius: 0.3vw;
   background-color: #fff;
   font-weight: 400;
   display: flex;
   padding-right: 8px;
   padding-left: 8px;
 }

/*------------------- Hover effects--------------------*/

.white-button:hover{
   background-color: #e5e5e5;
}

.blue-effect-hover:hover {
   background-color: #e0f3f6;
}

.round-border-black-color {
   border-radius: 0.3vw;
   border: 1px solid #1C2B40;
   color: #1C2B40;
   width: max-content;
}

/* --------------------------  CHECKBOX STYLES --------------------------*/

.checkbox-zone{
   margin-top: 3%;
}

.customized-checkbox {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 15px;
   cursor: pointer;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 /* Hide the browser's default checkbox */
 .customized-checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }

 /* Create a custom checkbox */
 .checkmark {
   position: absolute;
   left: 0;
   height: 1.5em;
   width: 1.5em;
   background-color: #fff;
   border-radius: 0.3vw;
   border: 1px solid #5a5a5a;
 }

 /* On mouse-over, add a grey background color */
 .customized-checkbox:hover input ~ .checkmark {
   background-color: #ccc;
 }

 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the checkmark when checked */
 .customized-checkbox input:checked ~ .checkmark:after {
   display: block;
 }

 /* Style the checkmark/indicator */
 .customized-checkbox .checkmark:after {
   left: 0.5vw;
   top: 0.1vw;
   width: 0.5vw;
   height: 1vw;
   border: 0.5px solid #1C2B40;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 /* round picture with avatar*/

 .commit-pic-circle {
   margin: 1em 0 0 1em;
   height: 2.5em;
   width: 2.5em;
   background-color: #fff;
   display: flex;
   border-radius: 50%;
}

.commit-pic-circle > img {
   width: 100%;
   border-radius: 50%;
}

/* The next styles are created for those views that contain cards with pipelines execution information */

#buttons-container {
   display: flex;
}

#line {
   border: 0.01px solid #ececec;
}

.rounded-pipeline-btn {
   padding: 0.5em 2em 1.7em 2em;
   border-radius: 0.3vw;
}

.active-border-light-blue {
   border: 1px solid #32AFC3;
}

.non-active-black-border {
   border: 1px solid #1C2B40;
   border-radius: 0.3vw;
}
/* --------------  pipeline cards -------------- */

.pipeline-card {
   border: 2px solid #e5e5e5;
   border-radius: 0.3vw;
   margin-top: 1%;
   color: #1c2b40;
}

.pipeline-card > .header{
   display: flex;
   background-color:#e5e5e5;
}

.pipeline-card > .header > .title-div {
   width: 50%;
}

.pipeline-card > .header > .title-div > p {
   margin: unset;
}

.pipeline-card > .header > .select-div {
   display: flex;
   align-content: flex-end;
   width: 50%;
   flex-direction: row-reverse;
}

.pipeline-card > .header > .select-div > select {
   border: none;
   background-color: transparent;
}
