/* Main container styles which give same sizes to all views in project*/ 

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

a {
  color: #1c2b40;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  min-width: 768px;
}

button {
  font-family: "Roboto", sans-serif;
  height: 2em;
}


.main-content {
   max-width: 1024px;
   min-width: 786px;
   align-items: center;
   margin: 0% auto 0% auto;
 }
 
/*------------------- Colors --------------------*/


.light-green-background, .light-green-button {
   background-color: #2db391;
}

/*------------------- ----- --------------------*/
.light-green-button {
   color: white;
   border: 1px solid #2db391;
}

.dangerous-red {
   background-color: #F5544D;
   color: white;
   border: 1.5px solid black;
}

.grey-border-white-background {
   border: 2px solid #e1e1e1;
   background-color: white;
   color: #e1e1e1;
}

.blue-border-dark-blue-letter {
   border: 2px solid #32AFC3;
   background-color: white;
   color: #1c2b40;
}

/*------------------- Hover effects--------------------*/

.white-button:hover{
   background-color: #e5e5e5;
}

.blue-button:hover, .light-green-button:hover {
   filter: brightness(120%);
}

.blue-effect-hover:hover {
   background-color: #e0f3f6;
} 
