@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

a {
  color: #1c2b40;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  min-width: 768px;
}

button {
  font-family: "Roboto", sans-serif;
  height: 2em;
}

/** This is applied to everything below the nav-bar. */
.main-content {
  max-width: 1024px;
  min-width: 786px;
  align-items: center;
  margin: 0% auto 0% auto;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #1c2b40;
}

.logo {
  width: 8.5%;
  margin: 1% 0% 1% 3%;
}

.projects-dropdown {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 45px;
  padding: 0.5em;
  cursor: pointer;
}

.projects-dropdown-click {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #292961;
  background: white;
  margin-left: 45px;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.projects-dropdown-click a:hover {
  text-decoration: none;
}

.projects-dropdown:hover {
  background: rgb(197, 197, 197, 0.2);
}

.projects-dropdown a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px;
}

.projects-dropdown img {
  margin-left: 4%;
}

.profile-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3%;
  padding: 5px 15px;
  margin-top: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.show {
  display: block;
}

.profile-options:hover .sign-box {
  visibility: visible; /* show it on hover */
  opacity: 1;
  transition-delay: 0.09s;
}

.profile-pic-circle {
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  display: flex;
  border-radius: 50%;
}

img.dropdown-white {
  width: 1.5vw;
  margin-right: 4px;
}

.project-container {
  background-color: #e5e5e5;
}

.project-details {
  margin: auto;
  padding: 0% 1% 0% 1%;
}

.project-nav {
  display: flex;
  flex-direction: row;
  padding: 1% 0% 0% 0%;
}

.project-nav p {
  margin: 0.3% 0.4% 0.4% 0%;
  color: #1c2b40;
}

.project-info {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.project-pic {
  height: 2.5em;
  width: 2.5em;
  background-color: #fff;
  border: 1px solid #1c2b40;
  border-radius: 8px;
  display: flex;
}

/* fix the size of the Project Avatar */
.project-pic img {
  height: 2.5em;
}

.project-id {
  display: flex;
  width: 50%;
}

.project-name {
  margin-left: 2%;
  width: 110%;
}

.project-name p {
  margin: 0%;
}

#projectName {
  font-size: 1.5em;
  color: #1c2b40;
  font-weight: 600;
}

#projectId {
  font-size: 0.8em;
  color: #909090;
}

.project-options {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
}

.options {
  display: flex;
  flex-direction: row;
  width: 12vw;
  height: 60%;
  border-radius: 0.5vw;
  margin-left: 1.5%;
  min-width: 60px;
}

.option-name {
  display: flex;
  flex-direction: row;
  width: 8vw;
  height: 2em;
  background-color: #fff;
  border-radius: 8px 0px 0px 8px;
  border: none;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 50px;
}

.option-name p {
  margin-left: 6%;
  color: #1c2b40;
  font-size: 13px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}

#option-image {
  width: 1.8vw;
  margin-left: 1vw;
  margin-right: 0.25vw;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid #e5e5e5;
  min-width: 30px;
  width: 3vw;
  height: 2.05em;
}

.counter p {
  color: #1c2b40;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 1vw;
}

.project-desc {
  color: #1c2b40;
  margin-top: 1.5%;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-height: 50px;
}

.tag-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 50px;
}

.tag-list div {
  cursor: pointer;
}

.project-content {
  max-width: 1024px;
  min-width: 786px;
  align-items: center;
  margin: 0 auto;
}

.new-project .add {
  text-decoration: none;
  background-color: #07db94;
  border-radius: 8px;
  color: #f2f2f2;
  padding: 0.5em 2em;
  float: right;
  margin-right: 20px;
}

.project-content > hr {
  margin-top: 5em;
}

.project-content > div {
  padding-top: 50px;
}

.project-list {
  display: flex;
  flex: 1;
}

.project-tab {
  cursor: pointer;
  display: flex;
  transition: border-bottom 0.1s;
}

.project-border {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 2px solid #1c2b40;
}

.project-tab p {
  color: #1c2b40;
}

#count {
  background-color: #c5c5c5;
  margin-left: 4px;
  padding: 2px;
}

.project-dashboard {
  display: flex;
  padding-top: 20px !important;
}

.project-list > div {
  margin-right: 50px;
}

.feature {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  margin-top: 0.1%;
  text-align: center;
  padding: 1% 5%;
  border-radius: 8px 8px 0px 0px;
}

.feature p {
  margin: 0;
  color: #1c2b40;
}

.feature.active {
  background-color: white;
  font-weight: 600;
}

.repo-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #32afc3;
  margin-top: 15px;
  border-radius: 8px;
}

.repo-stat {
  display: flex;
  margin: 0% 2% 0% 2%;
}

.repo-stat p {
  color: #fff;
}

p.stat-no {
  font-weight: 700;
}

.stat-type {
  margin-left: 10px;
}

.last-commit-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  border-radius: 8px;
  background-color: #e5e5e5;
}

.last-commit-id {
  display: flex;
  width: auto;
  min-width: 35px;
  padding: 0.7% 0.2% 0.7% 0.2%;
  height: 1.2vw;
  margin-right: 3.5%;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.75vw;
  border: 1px solid #b2b2b2;
}

.last-commit-id p {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  color: #404040;
  margin: 0;
  align-self: center;
}

.last-commit-details {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.last-commit-pic {
  height: 3vw;
  width: 3vw;
  margin: 1% 1% 1% 5%;
  background-color: #fff;
  border: 1px solid #1c2b40;
  border-radius: 50%;
  display: flex;
}

.pr-name p {
  margin: 0;
  align-self: center;
}

.last-commit-name {
  margin-left: 1vw;
  align-self: center;
  color: #1c2b40;
}

#repo-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 3% 0% 3%;
  background-color: #fff;
}

#repo-features div {
  display: flex;
}

#repo-features button {
  align-items: center;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid #1c2b40;
  width: max-content;
}

.white-button {
  color: #1c2b40;
  background-color: #fff;
  font-weight: 400;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
}

.blue-button {
  color: #fff;
  background-color: #1c2b40;
  font-weight: 600;
  display: flex;
  padding-right: 8px;
}

#repo-features button p {
  align-content: center;
  margin: 0 5px 0 5px;
}

#leftfeature-image {
  padding-left: 5px;
  margin-left: 1%;
  margin-right: 1%;
}

#repo-features button #plus {
  width: 2em;
}

#repo-features button img {
  width: 2em;
}

.commit-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-top: 15px;
  border-radius: 8px 8px 0px 0px;
  background-color: #2db391;
  /* border: 1px solid #32AFC3; */
}

#commitStatus {
  color: #fff;
  margin: 0 2%;
}

.create-pr {
  display: flex;
  align-items: center;
  margin: 0.5% 3.5% 0.5% 0%;
  padding: 0.3% 1.5% 0.3% 1.5%;
  border-radius: 8px;
  min-width: 120px;
  border: 1px solid #1c2b40;
  background-color: #ffffff;
}

.create-pr p {
  margin: 0px;
  font-weight: 400;
}

.file-properties {
  padding: 0% 0% 1% 0%;
  border-radius: 0 0 8px 8px;
  border: 1px solid #b2b2b2;
  width: 100%;
}

.files-contrainer {
  margin-top: 15px;
}

.title-row {
  background-color: #1d2b40;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-row th {
  width: 33%;
}

.title-row th > p {
  font-size: 13px;
}

#paragraphName {
  text-align: left;
  padding-left: 8%;
}

#paragraphLastUpdate {
  text-align: right;
  padding-right: 16%;
}

#paragraphLastCommit {
  text-align: right;
  padding-right: 10%;
}

#paragraphSize {
  text-align: right;
  padding-right: 10%;
}

.files-row {
  background-color: #fff;
  color: #1c2b40;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  padding: 0% 3.5% 0% 1%;
  border-bottom: 1px solid #b2b2b2;
}

.row-border {
  display: flex;
  margin: 0 auto;
  width: 95%;
  border: 1px solid #b2b2b2;
}

.files-row td {
  height: 3em;
  width: 25%;
  margin: 0;
  text-align: left;
}

.file-type {
  display: flex;
  align-items: center;
  width: 15%;
}

.file-type img {
  height: auto;
  width: 2vw;
  margin: 0px 1vw;
  padding: 0;
}

.files-row p {
  font-size: 1em;
  text-align: right;
  padding-right: 5%;
}

.files-row button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.files-row button:hover {
  text-decoration: underline;
}

/* Readme */

.readme-container {
  margin-top: 15px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #b2b2b2;
}

.readme-titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  border-radius: 8px 8px 0 0;
  background-color: #e5e5e5;
  border-bottom: 1px solid #b2b2b2;
}

.readme-profile-pic {
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  margin-left: 30px;
  display: flex;
}

.readme-name {
  margin-left: 2.5%;
  color: #1c2b40;
}

.readme-content-container {
  display: flex;
  flex-direction: column;
  margin: 20px 90px;
}

.readme-content-container p {
  padding: 0px;
  margin: 0;
  color: #1c2b40;
  text-align: left;
  font-size: 1vw;
}

#project-name-readme {
  display: inline-flex;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 2px solid #1c2b40;
}

#project-content-readme {
  padding-top: 1.5%;
  font-size: 1em;
}

.box {
  width: 50px;
  height: 100px;
}

.sign-box {
  box-shadow: 0 0 5px #c5c5c5;
  position: absolute;
  width: 180px;
  height: auto;
  background: #fff;
  right: 0;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.2s linear;
}

.sign-box p {
  padding: 0.75em;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  transition: all 0.4s ease;
}

.sign-box div {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 0.75em;
}

.sign-box p:hover {
  background: #c5c5c5;
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  background: #dddddd;
}

.selected-controller {
  background: #fff;
}

.profile-pic-darkcircle {
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  display: flex;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid rgb(13, 5, 85);
}

.project-box {
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  padding-top: 0.5em;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 334px;
  background: #fff;
  left: 0;
  border-radius: 3px;
  top: 120%;
}

.project-box p {
  padding: 0.75em;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  transition: all 0.4s ease;
}

.project-box p:hover {
  background: #c5c5c5;
  cursor: pointer;
}

.user-projects {
  display: block;
  width: 40%;
}

.project-search {
  border-left: 1px solid #dddddd;
  padding: 0.5em;
  width: 100%;
  display: block;
}

.select-branch {
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
  position: absolute;
  display: block !important;
  width: 300px;
  height: auto;
  background: #fff;
  top: 100%;
  left: 0px;
  border-radius: 4px;
}

.reference {
  position: relative;
}

.search-branch {
  position: relative;
  display: block !important;
  padding: 0.5em;
}

.branches {
  display: block;
  margin: "1em";
}

.branches ul {
  list-style: none;
  margin: 0;
  padding: 1em 0;
  width: 100%;
}

.branches ul li {
  padding-left: 10px;
}

.branch-header {
  padding-left: 2px !important;
}

.branches ul li p {
  margin-left: 4px;
  padding: 0.5em 0;
  width: 100%;
  transition: background-color 0.2s ease;
}

.branches ul p:hover {
  cursor: pointer;
  background: #c5c5c5;
}

.branches .branch-header {
  color: #707070;
  font-size: 13px;
  line-height: 16px;
}

.create-project a {
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: #07db94;
  float: right;
  border-radius: 8px;
  margin-top: 50px;
  color: #f2f2f2;
}

.pro-info {
  padding-right: 1em;
  display: flex;
}

.pro-info div {
  margin-right: 1em;
}
