@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 

a {
    color: #1C2B40;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    min-width: 768px;
}

button {
    font-family: 'Roboto', sans-serif;
    height: 2em;
}

/** This is applied to everything below the nav-bar. */
.main-content {
    max-width: 1024px;
    min-width: 786px;
    align-items: center;
    margin: 0% auto 0% auto;
}

.navbar {
    display: flex;
    height: 3em;
    align-items: center;
    background-color: #1C2B40;
}

.logo {
    width: 8em;
    margin: 1% 0% 1% 3%;
}

.projects-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 45px;
}

.projects-dropdown p{
    margin: 0px;
}

.projects-dropdown img {
    margin-left: 4%;
}


.profile-options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
}


.profile-pic-circle {
    height: 2.5em;
    width: 2.5em;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
}

img.dropdown-white {
    width: 1.5em;
    margin-right: 6px;
}

.project-container {
    background-color: #E5E5E5;
}

.project-details {
    margin: auto;
    padding: 0% 1% 0% 1%;
}

.project-nav {
    display: flex;
    flex-direction: row;
    padding: 1% 0% 0% 0%;
    width: 100%;
}


.project-nav p {
    color: #1C2B40;
}

.project-info {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.project-pic {
    height: 2.5em;
    width: 2.5em;
    background-color: #fff;
    border: 1px solid #1C2B40;
    border-radius: 0.3vw;
    display: flex;
}

/* fix the size of the Project Avatar */
.project-pic img {
    height: 2.5em;
}

.project-id {
    display: flex;
    width: 50%;
}

.project-name{
    margin-left: 2%;
    width: 110%;
}

.project-name p{
    margin: 0%;
}

#projectName {
    font-size: 1.5em;
    color: #1C2B40;
    font-weight: 600;
}

#projectId {
    font-size: 0.8em;
    color: #909090;
}

.project-options {   
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
}


.options {
    display: flex;
    flex-direction: row;
    width: 12vw;
    height: 60%;
    border-radius: 0.3vw;
    margin-left: 1.5%;
    min-width: 60px;
}

.option-name {
    display: flex;
    flex-direction: row;
    width: 8vw;
    height: 2em;
    background-color: #fff;
    border-radius: 0.3vw 0px 0px 0.3vw;
    border: none;
    padding-bottom: 0px;
    padding-top: 0px;
    min-width: 50px;
}

.option-name p {
    margin-left: 6%;
    color: #1C2B40;
    font-size: 13px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

#option-image {
    width: 1.8em;
    margin-left: 1vw;
    margin-right: 0.25vw;

}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0.3vw 0.3vw 0px;
    border-left: 2px solid #e5e5e5;
    min-width: 30px;
    width: 3vw;
    height: 2.05em;

}

.counter p {
    color: #1C2B40;
    font-size: 13px;
    font-weight: 600;
    margin: 0px 1vw;
}

.project-desc {
    color: #1C2B40;
    margin-top: 1.5%;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 50px;
}

.feature {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin-top: 0.1%;
    text-align: center;
    padding: 1% 5%;
    border-radius: 0.3vw 0.3vw 0px 0px;
}

.feature p{
    margin: 0;
    color: #1C2B40;
}

.feature.active {
    background-color: white;
    font-weight: 600;
}

.repo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #32AFC3;
    margin-top: 15px;
    border-radius: 0.3vw;
}

.repo-stat {
    display: flex;
    margin: 0% 2% 0% 2%;
}

.repo-stat p {
    color: #fff;
}

p.stat-no {
    font-weight: 700;
}

.stat-type {
    margin-left: 10px;
}

.last-commit-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 0.3vw;
    background-color: #E5E5E5;
}

.last-commit-id {
    display: flex;
    width: auto;
    min-width: 35px;
    padding: 0.7% 0.2% 0.7% 0.2%;
    height: 1em;
    margin-right: 3.5%;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.3vw;
    border: 1px solid #B2B2B2;
}

.last-commit-id p {
    padding-left: 24px; 
    padding-right: 24px;
    font-weight: 400;
    color: #404040;
    margin: 0;
    align-self: center;
}

.last-commit-details {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.last-commit-pic {
    height: 3em;
    width: 3em;
    margin: 1% 1% 1% 5%;
    background-color: #fff;
    border: 1px solid #1C2B40;
    border-radius: 50%;
    display: flex;
}


.pr-name p {
    margin: 0;
    align-self: center;
}

.last-commit-name {
    margin-left: 1vw;
    align-self: center;
    color: #1C2B40;
}

#repo-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 3% 0% 3%;
    background-color: #fff;
}

#repo-features div {
    display: flex;
}

#repo-features button {
    align-items: center;
    margin-right: 8px;
    border-radius: 0.3vw;
    border: 1px solid #1C2B40;
    width: max-content;
}

.white-button {
    color: #1C2B40;
    background-color: #fff;
    font-weight: 400;
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
}

.dropdown-button {
    color: #1C2B40;
    background-color: #fff;
    font-weight: 400;
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 10em;
    position: relative;
    width: max-content;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blue-button {
    color: #fff;
    background-color: #1C2B40;
    font-weight: 600;
    display: flex;
    padding-right: 8px;
}

#repo-features button a p{
    align-content: center;
    margin: 0 5px 0 5px;
    color: white;
}

#leftfeature-image {
    margin-left: 1%;
    margin-right: 1%;
}

#repo-features button #plus {
    width: 2em;
}

#repo-features button img {
    width: 1em;
}

.commit-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 15px;
    border-radius: 0.3vw 0.3vw 0px 0px;
    background-color: #2DB391;
    /* border: 1px solid #32AFC3; */

}

#commitStatus {
    color: #fff;
    margin:0 2%;
}


.create-pr {
    display: flex;
    align-items: center;
    margin: 0.5% 3.5% 0.5% 0%;
    padding: 0.3% 1.5% 0.3% 1.5%;
    border-radius: 0.3vw;
    min-width: 120px;
    border: 1px solid #1C2B40;
    background-color: #FFFFFF;
}

.create-pr p {
    margin: 0px;
    font-weight: 400;
}


.file-properties {
    padding: 0% 0% 1% 0%;
    border-radius: 0 0 0.3vw 0.3vw;
    border: 1px solid #b2b2b2;
    width: 100%;
}

.files-contrainer {
    margin-top: 15px;
}


.title-row {
    background-color: #1D2B40;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row th {
    width: 33%;
}

.title-row th > p {
    font-size: 13px;
}

#paragraphName{
    text-align: left;
    padding-left: 8%;
}

#paragraphLastUpdate{
    text-align: right;
    padding-right: 10%;
}

#paragraphLastCommit{
    text-align: right;
    padding-right: 18%;
}
.files-row {
    background-color: #fff;
    color: #1C2B40;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0% 3.5% 0% 1%;
    border-bottom: 1px solid #b2b2b2;
}

.row-border {
    display: flex;
    margin: 0 auto;
    width: 95%;
    border: 1px solid #b2b2b2;
}

.files-row td{
    height: 3em;
    width: 25%;
    margin: 0;
    text-align: left;
}

.file-type {
    display: flex;
    align-items: center;
    width: 15%;
}

.file-type img {
    height: 2em;
    width: 2em;
    margin: 0px 1vw;
    padding: 0;
}

.files-row p {
    font-size: 1em;
    text-align: right;
    padding-right: 5%;
}

.files-row button{
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.files-row button:hover{
    text-decoration: underline;
}

/* Readme */

.readme-container {
    margin-top: 15px;
    border-radius: 0.3vw;
    background-color: #fff;
    border: 1px solid #B2B2B2;
}

.readme-titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    border-radius: 0.3vw 0.3vw 0 0;
    background-color: #E5E5E5;
    border-bottom: 1px solid #B2B2B2;
}


.readme-profile-pic {
    height: 2em;
    width: 2em;
    background-color: #fff;
    border: 1px solid #B2B2B2;
    border-radius: 0.3vw;
    margin-left: 3%;
    display: flex;
}

.readme-name {
    margin-left: 2.5%;
    color: #1C2B40;
}

.readme-content-container {
    display: flex;
    flex-direction: column;
    margin: 20px 90px;
}

.readme-content-container p {
    padding: 0px;
    margin: 0;
    color: #1C2B40;
    text-align: left;
    font-size: 1vw;
}

#project-name-readme {
    display: inline-flex;
    padding-bottom: 10px; 
    font-size: 1.2em; 
    font-weight: 600;
    border-bottom: 2px solid #1C2B40;
}

#project-content-readme {
    padding-top: 1.5%;
    font-size: 1em; 
}
