.box {
  width: 50px;
  height: 100px;
}

.sign-box {
  box-shadow: 0 0 5px #c5c5c5;
  position: absolute;
  width: 180px;
  height: 180px;
  background: #fff;
  right: 0;
  top: 50px;
}

.sign-box p {
  padding-left: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

hr {
  border: none;
  height: 1px;
  background: #dddddd;
}

.selected-controller {
  background: #fff;
}

.profile-pic-darkcircle {
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  display: flex;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid rgb(13, 5, 85);
}
