/* ----------------------Classes for everything ---------------------*/

.flexible-div {
    display: flex;
}

 .pipe-line-view {
    min-width: 1100px;
}

.pipe-line-active {
    border: 2px solid #32AFC3 !important;
}

.bold-text {
    font-weight: 600;
}

.round-border-button {
    border-radius: 0.3vw;
}

.shadowed-element{
    box-shadow: 0px 3px 6px #B2B2B2;
}

/* ---------------------------Instruction------------------------- */

#instruction-pipe-line {
    margin: 1.5% 17vw 0.7% 16vw;
    display: flex;
    background-color: #2db391;
    border-radius: 0.3vw;
}

#instruction-pipe-line > #instruction {
    margin: 0.5% 0% 0.5% 0%;
    background-color: white;
    width: 83%;
    border-radius: inherit;
    padding: 0.1% 1% 0.1% 2%;
}

#instruction-pipe-line > #instruction > #title {
    color: #2db391;
}

#instruction-pipe-line > #icon {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 1% 1% 1% 2%;
}

#xButton > button {
    background-color: #2db391;
    color: white;
    border: none;   
    font-weight: bold;
    cursor: pointer;
}

.invisible {
    display: none !important;
}

/* ----------------------------------------------------------------*/

.pipe-line-execution-container{
    margin: 1.5% 17vw 0.7% 16vw;
    justify-content: space-between;
}

.pipe-line-execution{
    width: 65%;
    min-height: 700px;
    border: 2px solid #e5e5e5;
    border-radius: 0.5vw 0.5vw 0 0;
}

.pipe-line-execution > .header{
    background-color: #1C2B40;
    padding: 0.5% 0% 0.5% 1%;
    border: 1px solid #1C2B40;
    border-radius: inherit;
    height: 2.6vw;
    align-items: center;
}

.header > .header-right-items, .header-left-items{
    width: 50%;
}

.header-right-items {
    flex-direction: row-reverse;
}

.header-right-items .right-item{
    margin-right: 2%; 
}

#execute-button {
    padding: 0 12% 0 12%;
    color: white !important;
    background-color: #2db391;
}

.pipe-line-execution > .header {
    color: white;
    font-weight: 600;
}

.header .header-button {
    background-color: #ffffff;
    padding: 0% 4% 0% 4%;
    width: max-content;
    align-items: center;
}

.header .header-button {
    color: #1C2B40;
    width: max-content;
    height: inherit;
}

#renaming-pipeline{
    margin-left: 2%;
    padding: 0% 7%; 
}

.pipe-line-execution.tasks-list{
    width: 33% !important;
    margin-left: 1%;
    overflow: hidden;
}

.pipe-line-execution.tasks-list > .content > .filter-div{
    height: max-content;
    align-content: center;
}

.pipe-line-execution > .upload-file{
    border-bottom: 2px solid #e5e5e5;
    border-left: none !important;
    border-right: none !important;
}


.instruction {
    color: #B2B2B2;
    text-align: center;
}

.upload-file > #data{
    padding-left: 1%;
    font-weight: 600;
}

.data-button-container div {
    border: 2px solid #B2B2B2;
    color: #B2B2B2;
    width: max-content;
    padding: 0.5% 4% 0.5% 4%;
    border-radius: 0.3vw;
}

#select-data-btn {
    border: 2px solid #2db391;
    color: white;
    background-color: #2db391;
}

.data-button-container{
    justify-content: center;
    margin-bottom: 4%;
}

/* ----------------------- TASK LIST DIV ------------------------------*/

.pipe-line-execution.tasks-list > .content{
    padding: 1%;
}

.filter-div {
    border-radius: 0.5vw;
}

.search {
    color: #B2B2B2;
    border-radius: inherit;
    width: 17%;
    margin-left: 2%;
}

.search.data{
    width: 79%;
    margin-right: 1%;
    border-radius: inherit;
    align-items: center;
    padding-left: 21%;
}

.search.button {
    border-radius: inherit;
    align-content: center;
    justify-content: center;
}

.search.button img{
    width: 20%;
    height: 100%;
}

.search p {
    text-align: center;
}

.data-operations-select {
    margin-top: 2%;
    padding: 1% 15% 1% 0.5%;
    
}

#data-operations-list {
    overflow-y: scroll;
    height: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e5e5e5;
}

/* ---------------data-operations-item-header----------- */

.data-operations-item{
    border: 2px solid #e5e5e5;
    padding: 0% 0% 0% 2%;
    margin-top: 2%;
    cursor: grab;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.data-operations-item:hover{
    transform: scale(1.02);
}

#drop-zone{
    min-height: 690px;
    height: 95%;
}

/* --------------------------  CHECKBOX STYLES --------------------------*/

#checkbox-zone{
    margin-top: 3%;
}

.customized-checkbox {
    display: block;
    position: relative;
    padding-left: 3vw;
    margin-bottom: 1.3vw;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .customized-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 1.7vw;
    width: 1.7vw;
    background-color: #eee;
    border-radius: 25%;
    border: 1.5px solid #5a5a5a;
  }
  
  /* On mouse-over, add a grey background color */
  .customized-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
    
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .customized-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .customized-checkbox .checkmark:after {
    left: 0.6vw;
    top: 0.2vw;
    width: 0.5vw;
    height: 1vw;
    border: 0.5px solid #1C2B40;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #title-content{
      width: 75%;
  }

  .data-oper-options {
      align-items: first baseline;
      width: 20%;
      justify-content: end;
  }

  .data-oper-options div{
    padding: 0% 0% 0% 6% !important;
  }
  .data-oper-options img{
    width: 0.9vw !important;
  }

  .data-oper-options.flexible-div p{
      padding: 1%;
  }
